html{
    background-color: rgb(38, 38, 38);
}
body{
    margin:0px;
}
@keyframes transisi{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.isi{
    animation-name: transisi;
    animation-duration: 0.5s;
}
.profildiri{
    top: 0;
}

/*styling untuk navbar*/
/**/
.navbar{
    background-color: rgb(20, 20, 20);
    height: 90px;
    align-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.buttonnavbar{
    margin-left: 40px;
}
.teksnavbar button.aktif{
    color: white;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 30px;
}
.teksnavbar button.aktif:hover{
    color: white;
   text-decoration: none;
}

.teksnavbar button{
    background-color: transparent;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(138, 138, 138);
    font-size: 23px;
    font-weight:450;
    margin: 10px;
}
.teksnavbar button:hover{
    text-decoration: underline;
    color: rgb(0, 163, 232);
    text-underline-offset: 30px;
}


/*styling untuk foto di home*/
/**/
.bingkaifotohome{
    position: relative;
    float: right;
    margin-right: 400px;
    margin-top: 30px;
    animation-name: transisi;
    animation-duration: 0.4s;
}
.bingkai1{
    width: 300px;
    height: 370px;
    background-color: rgb(0, 163, 232);
    border-radius: 8px;
    position: absolute;
}
.bingkai2{
    width: 300px;
    height: 370px;
    background-color: rgb(0, 163, 232);
    border-radius: 8px;
    position: absolute;
    top: 70px;
    left: 50px;
}
.fotodiri img{
    width: 300px;
    border-radius: 8px;
    position: absolute;
    top: 20px;
    left: 25px;
}

/**styling untuk teks di home**/
.tekshome{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: relative;
    margin: 100px;
    margin-left: 60px;
    top: 90px;
}
.tekshome p{
    animation-name: fadeInLeft;
    animation-duration: 0.4s;
}
.th1{
    font-size: 30px;
    font-weight: 500;
    position: absolute;
}
.th2{
    font-size: 75px;
    font-weight: 650;
    color: rgb(0, 163, 232);
    position: absolute;
    margin-top: 55px;
}
.th3{
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    margin-top: 155px;
}
.garishome{
    width: 650px;
    height: 10px;
    background-color: rgb(0, 163, 232);
    position: absolute;
    margin-top: 220px;
    border-radius: 10px;
    animation-name: transisigaris1;
    animation-duration: 0.7s;
}
@keyframes transisigaris1{
    from{
        width: 0px;
    }
    to{
        width: 650px;
    }
}

/**styling untuk foto di profil**/
/****/
.bingkaiprofil{
    position: relative;
    margin: 30px;
    margin-top: 50px;
}
.bingkaip1{
    background-color: rgb(0, 163, 232);
    width: 100px;
    height: 100px;
    margin-top: 120px;
    margin-left: 80px;
    height: 300px;
    width: 240px;
    position: absolute;
    border-radius: 8px;
}
.bingkaip2{
    background-color: rgb(0, 163, 232);
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 200px;
    margin-left: 20px;
    height: 300px;
    width: 240px;
    border-radius: 8px;
}
.bingkaiprofil img{
    position: absolute;
    margin: 50px;
    margin-top: 150px;
    border-radius: 8px;
    width: 240px;
}

/**teks profil**/
/****/
.teksprofil{
    position: absolute;
    margin-top: 70px;
    margin-left: 33%;
}
.teksprofil p {
    animation-name: fadeInRight;
    animation-duration: 0.4s;
}
h1{
    color: rgb(0, 163, 232);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
}
.teksprofil p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 24px;
    max-width: 90%;
    text-align: justify;
}
.garisprofil{
    width: 90%;
    height: 10px;
    background-color: rgb(0, 163, 232);
    position: absolute;
    border-radius: 10px;
    margin-top: 110px;
    animation-name: transisigaris2;
    animation-duration: 0.9s;
}
@keyframes transisigaris2 {
    from{
        width: 0px;
    }
    to{
        width: 90%;
    }
}

/**teks skill**/
/****/
.teksskill h1{
    position: absolute;
    top: 110%;
    margin-left: 81%;
}

/**bingkai skill**/
/****/
.bs1{
position: relative;
top: 50px;
float: right;
margin-right: 40%;
}
.bs2{
position: relative;
top: 50px;
margin-left: 10%;
}
.bs1 img{
    width: 350px;
    position: absolute;
    margin-top: 700px;
    margin-left: 35px;
    border-radius: 12px;
    
}
.bs2 img{
    width: 350px;
    position: absolute;
    margin-top: 700px;
    margin-left: 35px;
    border-radius: 12px;
}
.kotak1{
    background-color: rgb(0, 163, 232);
    width: 385px;
    height: 10px;
    position: absolute;
    margin-top: 670px;
    border-radius: 12px;
}
.kotak2{
    background-color: rgb(0, 163, 232);
    width: 350px;
    height: 350px;
    position: absolute;
    margin-top: 735px;
    border-radius: 12px;
}
.overlay{
    width: 350px;
    height: 350.5px;
    background-color: black;
    margin-top: 700px;
    margin-left: 35px;
    position: absolute;
    opacity: 75%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kotak1bs2{
    background-color: rgb(0, 163, 232);
    width: 385px;
    height: 10px;
    position: absolute;
    margin-top: 1075px;
    border-radius: 12px;
}
.kotak2bs2{
    background-color: rgb(0, 163, 232);
    width: 350px;
    height: 350px;
    position: absolute;
    margin-top: 670px;
    border-radius: 12px;
}
.overlaybs2{
    width: 350px;
    height: 350.5px;
    background-color: black;
    margin-top: 700px;
    margin-left: 35px;
    position: absolute;
    opacity: 75%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlayhover2{
    width: 350px;
    height: 350.5px;
    background-color: rgb(20, 20, 20);
    margin-top: 700px;
    margin-left: 35px;
    position: absolute;
    opacity: 100%;
    border-radius: 12px;
    opacity: 0;
}
.overlayhover2:hover{
    opacity: 1;
    animation: fadeIn;
    animation-duration: 0.3s;
}

.overlayhover{
    width: 350px;
    height: 350.5px;
    background-color: rgb(20, 20, 20);
    margin-top: 700px;
    margin-left: 35px;
    position: absolute;
    opacity: 100%;
    border-radius: 12px;
    opacity: 0;
}
.overlayhover:hover{
    opacity: 1;
    animation: fadeIn;
    animation-duration: 0.3s;
}
.bs1 p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}
.bs2 p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}
.overlayhover p{
    color: white;
    position: absolute;
    margin-top: 30%;
    margin-left: 8%;
    width: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}
.overlayhover2 p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
}
.logobahasa{
    margin-left: 20%;
}
.logobahasa img{
   position: relative;
    width: 50px;
    margin-left: 10px;
    margin-top: 0%;
}
.logodesign{
    margin-left: 20%;
}
.logodesign img{
   position: relative;
    width: 60px;
    margin-left: 0px;
    margin-top: 200px;
}

#figma{
    width: 40px;
}
#ai{
    width: 90px;
}
/**teks project**/
/****/
.teksproject h1{
    position: absolute;
    top: 215%;
    margin-left: 10%;
}

/**bingkai project**/
/****/
.bp{
    position: relative;
    top: 670px;
    margin-left: 10%;  
}
.kotak1bp{
    background-color: rgb(0, 163, 232);
    width: 385px;
    height: 10px;
    position: absolute;
    margin-top: 670px;
    border-radius: 12px;
}
.kotak2bp{
    background-color: rgb(0, 163, 232);
    width: 350px;
    height: 350px;
    position: absolute;
    margin-top: 735px;
    border-radius: 12px;
}
.overlaybp{
    width: 350px;
    height: 350.5px;
    background-color: black;
    margin-top: 700px;
    margin-left: 35px;
    position: absolute;
    opacity: 75%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bp img{
    width: 350px;
    position: absolute;
    margin-top: 700px;
    margin-left: 35px;
    border-radius: 12px;
}
.bp p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}

/**kontak**/
/****/
.tekskontak{
    margin-top: 120px;
    margin-left: 3%;
}
.tekskontak h1{
    margin-bottom: 10px;
}
.gariskontak{
    width: 90%;
    height: 10px;
    background-color: rgb(0, 163, 232);
    border-radius: 10px;
    margin-bottom: 15px;
    animation-name: transisigaris2;
    animation-duration: 0.9s;
}
#formkontak{
   margin-left: 3%;
}
#formkontak input{
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
    height: 55px;
    width: 55%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
#formkontak ::placeholder{
    color: rgb(138, 138, 138);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
#formkontak button{
    background-color: rgb(0, 163, 232);
    color: white;
    font-size:20px ;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5px;
    height: 45px;
    width: 120px;
}
#formkontak button:hover{
    background-color: rgb(0, 116, 165);
}

.sosmed{
    position: absolute;
    margin-left: 65%;
    margin-top: 0px;
}
.sosmed button{
    margin-bottom: 10px;
}
#icons{
    background-color: rgb(0, 163, 232);
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50px;
}
#gh{
    width: 50px;
}
#ig{
    width: 45px;
}
#x{
    width: 60px;
}

.sosmedclick{
    position: absolute;
    margin-left: 68%;
    margin-top: 0px;
}
.sosmedclick{
    margin-top: 0px;
}
#icons2ig{
    background-color: rgb(0, 163, 232);
    width: 0;
    overflow-x: hidden;
    height: 70px;
    border: none;
    border-radius: 0px 50px 50px 0px ;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
#icons2x{
    background-color: rgb(0, 163, 232);
    width: 0;
    overflow-x: hidden;
    height: 70px;
    border: none;
    border-radius: 0px 50px 50px 0px ;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
#icons2gh{
    background-color: rgb(0, 163, 232);
    width: 0;
    overflow-x: hidden;
    height: 70px;
    border: none;
    border-radius: 0px 50px 50px 0px ;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.sosmedclick a{
    opacity: 0;
    margin-left: 40px;
    color: white;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sosmedclick a:hover{
    text-decoration: underline;
    text-underline-offset: 20px;
}